:root{
    /* --COLOR-1: #303a30;
    --COLOR-2: #2f3e37;
    --COLOR-3: #2b3832;
    --COLOR-4: #26322c;
    --COLOR-5: #1c2520;
    --COLOR-6: #131815;
    --COLOR-7: #090b09; */
   
  
    --COLOR-1: #9ac9d5;
    --COLOR-2: #62b6cb;
    --COLOR-3: #3f8098;
    --COLOR-4: #306173;
    --COLOR-5: #1e3d48;
    --COLOR-6: #0c181d;
    --COLOR-7: #070e11;
 
    --BACKGROUND-1: var(--COLOR-1);
  
    --BACKGROUND-2: var(--COLOR-2);
    --BACKGROUND-2-HOVER: var(--COLOR-3);
    
    --BACKGROUND-3: var(--COLOR-3);
    --BACKGROUND-3-HOVER: var(--COLOR-4);
  
    --BACKGROUND-4: var(--COLOR-4);
    --BACKGROUND-4-HOVER: var(--COLOR-5);
  
    --BORDER-1: var(--COLOR-5);
    --BORDER-1-HOVER: var(--COLOR-6);
    
    --BORDER-2: var(--COLOR-6);
    --BORDER-2-HOVER: var(--COLOR-7);
  }
